<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <!-- Leaflet CSS -->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin="" />

 <!-- Leaflet JavaScript code -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

   <!-- No UI Slider files -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.5.1/nouislider.min.css" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.5.1/nouislider.min.js"></script>
    <!-- Echarts ??????????????????-->
   
    <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/project_style.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>USA Weather Dashboard</h1>
        <p>Use the interactive charts below to explore current weather all over the nation or plan your next trip!</p>
        <!-- The href below may change depending on endpoint Tatiana defines -->
        <!-- <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Refresh Data</a></p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <h5>City Name:</h5>
          <select id="selDataset" onchange="optionChanged1(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Selected City Current Weather</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="bar"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge" style="width: 80vw; height: 50vh;"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-9">
      <h3>Play with this slider to filter the map's markers based on humidity levels!</h3>
    </div>
   
  </div>

      <div class="row">
    <div id="slider" style="top: 0px; right: 1px; margin: 10px 25px;"></div>
      <div style="margin-right: auto; margin-left: auto; width: 90%; margin-bottom: 10px; text-align: center;">
      <input type="number" min='0' max='99' id="input-number-min">
      <input type="number" min='1' max='100' id="input-number-max">
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

  <div id="map"></div>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <div id="plot"></div>
  <!-- <script src="../static/hold_data.js"></script> -->
  <script src="../static/logic2.js"></script>
  <!-- <script src="./static/js/plots.js"></script> -->
  <!-- <script src="./static/js/bonus.js"></script> -->
  
</body>

</html>
